@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');



html {
    font-size: 10px;
    font-family: 'PT Sans', sans-serif;
}

body {
    margin: 0;
    background-color: #DCDCDC;
}

.position {
    position: sticky;
    top: 0rem;
    z-index: 1;
}

.cap {
    display: flex;
    justify-content: space-around;
    background-color: #202846;
    max-height: 8.9rem;
    
}

.img_btn {
    display: flex;
    align-items: center;
}


.button_menu {
    display: flex;
    inline-size: 70%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.lang_btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 8%;
}

.button {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 2.4rem;
    position: relative;
    left: 3.5rem;
    margin: auto 1%;
}

.button:hover {
    color: #AEAEE2;
}

.lang {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 2.8rem;
    margin-left: 30%;
}

.lang:hover {
    color: #AEAEE2;
}

/* Перша секція*/

.s_one {}

.button_up {
    position: fixed;
    right: 8rem;
    bottom: 35rem;
    z-index: 1;
}


.H_one {
    background-color: #C6C6DC;
    max-height: 13.9rem;
    font-weight: 400;
    font-style: italic;
    font-size: 4.8rem;
    padding-left: 8%;
}

.choice {
    width: 80%;
    margin: 2% auto;

}

.button_two {
    text-align: center;
    background-color: #E8E8E8;
    font-weight: 400;
    font-size: 2.8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.button_two:hover{
    background-color: #AEAEE2;
    box-shadow: 5px 5px 30px rgba(0, 0, 255, 25%);
}

.slide {
    position: absolute;
    right: 23px;
    bottom: 5px;
}

.card {
    height: auto;
    background-color: #BDBDC6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    margin: 2vw 0;
}

.card:hover {
    background-color: #AEAEE2;
    box-shadow: 5px 5px 30px rgba(0, 0, 255, 25%);
}

.card__img {
    width: 35%;
    height: 80%;
    overflow: hidden;
}

.card__img img {
    height: 100%;
}

.card__content {
    width: 50%;
    height: 80%;
    margin: 1vw 0;
}

.card__content-title {
    font-weight: 700;
    font-style: italic;
    border-bottom: 3px solid white;
    font-size: 3.6rem;
    margin-bottom: 1rem;
}

.card__content-description {
    font-size: 2.2rem;
    text-align: center;
    background-color: #D7D7DD;
    padding: 2.2rem;
}

.card-btn {
    position: absolute;
}

.card-btn:hover {
    background-color: #EF075B;
}

.card-star {
    position: absolute;
    right: 1rem;
    top: 1rem
}

.card-star path:hover {
    z-index: 1;
    fill: #FFFF00;
}



.card-btn {
    bottom: 0;
    right: -40px;
    width: 200px;
    padding: 1rem 0;
    background-color: #202846;
    color: white;
    text-decoration: none;
    font-size: 2.4rem;
    text-align: center;
    border-radius: 50px;
}



/* Друга секція*/
.s_two {}

.H_two {
    background-color: #C6C6DC;
    color: #202846;
    font-weight: 400;
    font-size: 4.8rem;
    font-style: italic;
    padding-left: 8%;
}

.card_ava {
    width: 60%;
    height: auto;
    background-color: #BDBDC6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    margin: 3% auto;
}
.ava{
    text-align: center;
    margin: 2vw auto;
}

.card__img_ava {
    width: 20%;
    height: 100%;    
    position: inherit;
}

.card__img_ava img {
    width: 100%;
    position: inherit;
    left: 2vw;
    top: 1.5vw;
}

.card-btn_ava_1 {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    padding: 1rem 0;
    background-color: #484A54;
    color: white;
    text-decoration: none;
    font-size: 2.4rem;
    text-align: center;
    border-radius: 50px;
}

.card-btn_ava_2 {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    background-color: #484A54;
    color: white;
    text-decoration: none;
    font-size: 2.4rem;
    text-align: center;
    border-radius: 50px;
}


.card__content_ava {
    width: 60%;
    height: 80%;
    margin: 5% 0;
    font-weight: 400;
    font-size: 3.6rem;
    font-style: italic;

}

.card__content_border {
    border-bottom: 3px solid white;
}

.bold {
    font-weight: 700;
}

.exit {
    padding: 1rem 4rem;
    background-color: #202846;
    color: white;
    text-decoration: none;
    font-size: 2.7rem;
    text-align: center;
    border-radius: 50px;
    display: block;
    width: 5%;
    margin: 3rem auto;
}


/* Третя секція*/
.s_three {}

.H_three {
    background-color: #C6C6DC;
    max-height: 13.9rem;
    font-weight: 400;
    font-style: italic;
    font-size: 4.8rem;
    padding-left: 8%;
    margin-top: 5%;
}

.line {
    display: flex;
    justify-content: space-around;
    margin-top: 2vw;
}

.contacts_content {
    font-weight: 400;
    font-size: 3.2rem;
    
}

.line_two {
    display: flex;
    justify-content: space-around;
    margin: 2vw 0;
}

.contacts_content_two {
    font-weight: 400;
    font-size: 3.2rem;
}

.cc_center{
    text-align: center;
}

.cc_size {
    font-size: 3rem;
    text-decoration: overline;
    text-decoration-color: black; 
}
a{
    text-decoration: none;
}

.vault {
    background-color: #202846;
    display: flex;
    color: #EEECF1;
    font-weight: 400;
    font-size: 3.6rem;
    font-style: italic;
    height: 4vw;
    align-items: center;
}

.v_content {
    margin: 0 3vw;
}